<!DOCTYPE html>
<html>

<head>
    <%- include("./head.ejs") %>
</head>

<body>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="/category"><input type="button" tabindex="4" class="form-control btn btn-login"
                        value="Danh sách các loại sản phẩm"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <!-- <div class="col-xs-6">
                            <a href="/login" class="active" id="login-form-link">Đăng nhập</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="/register" id="register-form-link">Đăng kí</a>
                        </div> -->
                        <h1>Sửa loại sản phẩm</h1>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="/category/update" method="post" style="display: block;">
                                <input type="hidden" name="id" class="form-control" required value="<%= data[0].id%>">
                                <div class="form-group">
                                    <label for="">ID</label>
                                    <input type="text" name="id" class="form-control" required disabled
                                        value="<%= data[0].id%>" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Tên</label>
                                    <input type="text" name="name" class="form-control" required
                                        value="<%= data[0].name%>">
                                </div>
                                <div>
                                    <p style="color: greenyellow; font-size : 20px ">
                                        <%= mess %>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" tabindex="4" class="form-control btn btn-login"
                                                value="Sửa">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>